color: white;
padding: 20px;
width: 100%;
max-width: 960px;
margin: 0 auto;
overflow: hidden;
}

@@ -34,7 +33,7 @@ body {
    #header .logo img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-right: 180px;
    }

    #header h1 {
        @@ -50,6 +49,7 @@ body {
            float: right;
            padding: 10px 0;
            margin-top: 10px;
            margin-right: 280px;
        }

        #nav ul

{
    @@ -165,3 +165,7 @@ footer {
        position: relative;
        bottom: 0;
    }

    footer .footer-content

{
    margin-right: 840px; /* Сдвинуть текст чуть влево */
}
